<form action="/createNewPassword" method="POST" class="register_form shadow-lg">
  <h4 class="">Update your Password</h4>

  <div class="mb-3 w-100">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      value="<%= locals.user.email %>"
      name="email"
      readonly
    />
  </div>

  <div class="mb-3 mx-1 w-100">
    <label for="password" class="form-label">Old Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>

  <div class="mb-3 mx-1 w-100">
    <label for="newPassword" class="form-label">New Password</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      name="newPassword"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Update Password</button>
</form>
